.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  //
  height: 50px;
  padding: 0 30px;
  min-width: 180px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  transition: background-color $trs1, border-color $trs1, color $trs1;
  //
  background-color: var(--bg);
  border-color: var(--border);
  color: var(--color) !important;

  &:not(.button_in-progress):not(.button_is-active):not(.active) {
    &[data-touch], &[data-hover] {
      background-color: var(--bg-hover);
      border-color: var(--border-hover);
      color: var(--color-hover) !important;
    }
  }

  &.active {
    background-color: var(--bg-active);
    border-color: var(--border-active);
    color: var(--color-active) !important;
  }

  &__inner {
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs1, visibility $trs1;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__in-progress, &__is-active {
    position: absolute;
  }

  &__in-progress {
    .icon {
      animation: rotation 1s linear infinite;
    }
  }

  &__is-active {
    font-weight: 500;
  }

  &:not(.button_in-progress):not(.button_is-active) {
    .button__default {
      opacity: 1;
      visibility: visible;
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    &:first-child {
      margin-right: 12px;
    }
    &:last-child {
      margin-left: 12px;
    }
  }

  &_style-1 {
    --bg: var(--button-1-bg);
    --bg-hover: var(--button-1-hover-bg);
    --border: var(--bg);
    --border-hover: var(--bg-hover);
    --color: #fff;
    --color-hover: var(--color);
  }

  &_style-2 {
    --bg: var(--button-2-bg);
    --bg-hover: var(--button-2-hover-bg);
    --border: var(--bg);
    --border-hover: var(--bg-hover);
    --color: #fff;
    --color-hover: var(--color);
  }

  &_style-3 {
    --bg: transparent;
    --bg-hover: transparent;
    --border: var(--button-3-border-color);
    --border-hover: var(--button-3-hover-border-color);
    --color: var(--button-3-color);
    --color-hover: var(--button-3-hover-color);
  }
  &_style-4 {
    --bg: transparent;
    --bg-hover: var( --color-8);
    --border: var(--color-1);
    --border-hover: transparent;
    --color: var(--color-text);
    --color-hover: var(--color-text);
    --bg-active: var(--color-4);
    --border-active: transparent;
    --color-active: #fff;
  }
  &_style-5 {
    --bg: var(--color-2);
    --bg-hover: var(--color-10);
    --color: var(--color-13);
    --color-hover: #fff;
  }

  &_in-progress {
    --bg: var(--color-3);
    --color: #fff;
    pointer-events: none;
    .button__in-progress {
      opacity: 1;
      visibility: visible;
    }
  }
  &_is-active {
    --bg: transparent;
    --border: var(--color-4);
    --color: var(--color-4);
    .button__is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &_wide {
    width: 100%;
    min-width: initial;
  }
  &_large {
    height: 64px;
  }
  &_cart {
    .button__default {
      .icon {
        width: 30px;
        height: 25px;
      }
    }
    .button__is-active {
      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    &_large {
      font-size: 18px;
      min-width: 300px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 0 20px;
  }
}