.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  //
  height: 50px;
  padding: 0 30px;
  min-width: 210px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-weight: 700;
  transition: background-color $trs1, border-color $trs1, color $trs1;
  //
  background-color: var(--bg);
  border-color: var(--border);
  color: var(--color) !important;

  &:not(.button_in-progress):not(.button_is-active) {
    &[data-touch], &[data-hover] {
      background-color: var(--bg-hover);
      border-color: var(--border-hover);
      color: var(--color-hover) !important;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    visibility: hidden;
    transition: opacity $trs1, visibility $trs1;
  }

  &__in-progress, &__is-active {
    position: absolute;
  }

  &__in-progress {
    .icon {
      animation: rotation 1s linear infinite;
    }
  }

  &__is-active {
    font-weight: 500;
  }

  &:not(.button_in-progress):not(.button_is-active) {
    .button__default {
      opacity: 1;
      visibility: visible;
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    &:first-child {
      margin-right: 12px;
    }
    &:last-child {
      margin-left: 12px;
    }
  }

  &_style-1 {
    --bg: var(--button-1-bg);
    --bg-hover: var(--button-1-hover-bg);
    --border: var(--bg);
    --border-hover: var(--bg-hover);
    --color: #fff;
    --color-hover: var(--color);
  }

  &_style-2 {
    --bg: var(--button-2-bg);
    --bg-hover: var(--button-2-hover-bg);
    --border: var(--bg);
    --border-hover: var(--bg-hover);
    --color: #fff;
    --color-hover: var(--color);
  }

  &_style-3 {
    --bg: transparent;
    --bg-hover: transparent;
    --border: var(--button-3-border-color);
    --border-hover: var(--button-3-hover-border-color);
    --color: var(--button-3-color);
    --color-hover: var(--button-3-hover-color);
  }

  &_in-progress {
    --bg: var(--color-3);
    --color: #fff;
    pointer-events: none;
    .button__in-progress {
      opacity: 1;
      visibility: visible;
    }
  }
  &_is-active {
    --bg: transparent;
    --border: var(--color-4);
    --color: var(--color-4);
    .button__is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}