.cart {
  &__clear {
    margin-bottom: 3px;
  }
  &__cart-detail-box {
    --px: 20px;
  }
  @include media-breakpoint-up(xl) {
    &__container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: var(--grid-gutter-width);
    }
    &__content {
      grid-column: span 8;
    }
    &__aside {
      grid-column: span 4;
      padding-left: 50px;
    }
    &__cart-detail-box {
      position: sticky;
      top: 25px;
      transition: top var(--trs-1);
    }
  }
  @include media-breakpoint-down(xl) {
    &__aside {
      margin-top: 45px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__clear {
      margin-bottom: 2px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__cart-detail-box {
      margin-bottom: -10px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .header_fixed ~ .main {
    .cart__cart-detail-box {
      top: calc(var(--fixed-header-height) + 25px);
    }
  }
}


.cart-detail-box-1 {
  --px: var(--container-padding-x);
  @include media-breakpoint-down(sm) {
    &__top {
      border-top: 1px solid var(--color-1);
      border-bottom: none;
      margin: 0 calc(var(--container-padding-x) * -1);
    }
    &__bottom {
      border-top: 1px solid var(--color-1);
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
    border: none;
    border-radius: 0;
  }
}