img {
  display: block;
  &.lazyload, &.lazyloading {
    opacity: 0;
    visibility: hidden;
  }
  &.lazyloaded {
    opacity: 1;
    visibility: visible;
    transition: opacity $trs2, visibility $trs2;
  }
}

//images
.image {
  display: block;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  &_contain, &_cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
  &_cover {
    overflow: hidden;
    background-color: var(--color-1);
    img {
      object-fit: cover;
    }
  }
  &_contain {
    img {
      object-fit: contain;
    }
  }
}

.logo {
  display: block;
  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  stroke-width: 1.5px;
}

.socials {
  display: flex;
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px -16px 0;
    pointer-events: none;
  }
  &__item {
    margin: 0 16px 16px 0;
    pointer-events: none;
  }
  &__link {
    display: block;
    font-size: 0;
    width: 24px;
    height: 24px;
    pointer-events: all;
    .icon {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.link-bordered {
  border-bottom: 1px solid currentColor;
  line-height: 1.3;
}

.icon-link {
  --color: var(--color-text-dark);
  --color-hover: var(--color-text-accent);
  --icon-size: 1em;
  display: inline-flex;
  align-items: center;
  color: var(--color);
  transition: color $trs1;
  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .icon {
    width: var(--icon-size);
    height: var(--icon-size);
    &:first-child {
      margin-right: 8px;
    }
    &:last-child {
      margin-left: 8px;
    }
  }
  &_type-2 {
    --color: var(--color-text-muted);
    --color-hover: var(--color-text-dark);
  }
  &[data-touch], &[data-hover] {
    color: var(--color-hover);
  }
}

.link {
  --color: var(--color-text-dark);
  --color-hover: var(--color-text-accent);
  color: var(--color);
  transition: color $trs1;
  display: inline-block;
  &[data-touch], &[data-hover] {
    color: var(--color-hover);
  }
  &_type-2 {
    --color: var(--color-text-muted);
    --color-hover: var(--color-text-dark);
  }
}

.close-element {
  display: block;
  transition: color $trs1;
  .icon {
    width: 100%;
    height: 100%;
    display: block;
  }
  &[data-touch], &[data-hover] {
    color: var(--color-3);
  }
}


[data-collapse='content'] {
  overflow: hidden;
  height: 0;
  &.active {
    height: auto;
  }
}