:root {
  --container-padding-x: #{$container-padding-x};
  --grid-gutter-width: #{$grid-gutter-width}; 
  --content-gutter: calc(((100vw - var(--scrollbar-width) - var(--content-width) + var(--container-padding-x) * 2) / 2));

  --scrollbar-width: 0px;

  --slider-animation-function: ease;

  --product-card-image-height: 185px;
  --blog-card-image-height: 220px;

  //animations
  --animation-duration-1: 150ms;
  --animation-duration-2: 300ms;
  --animation-duration-3: 500ms;
  --trs-1: var(--animation-duration-1) ease-out;
  --trs-2: var(--animation-duration-2) ease-out;
  --trs-3: var(--animation-duration-3) ease-out;

  //
  --page-min-width: 320px;
  --content-min-width: var(--page-min-width);
  --content-max-width: calc(max(100vw, var(--page-min-width)) - var(--scrollbar-width));



  @include media-breakpoint-up(xl) {
    --content-width: #{map-get($container-max-widths, xl)};
  }
  @include media-breakpoint-down(xl) {
    --content-width: #{map-get($container-max-widths, lg)};
  }
  @include media-breakpoint-down(lg) {
    --content-width: #{map-get($container-max-widths, md)};
  }
  @include media-breakpoint-down(md) {
    --content-width: #{map-get($container-max-widths, sm)};
  }
  @include media-breakpoint-down(sm) {
    --content-width: 100vw;
    --product-card-image-height: 140px;
  }

}