:root {
  --container-padding-x: #{$container-padding-x};
  --grid-gutter-width: #{$grid-gutter-width}; 
  --content-gutter: calc(((100vw - var(--scrollbar-width) - var(--content-width) + var(--container-padding-x) * 2) / 2));

  --default-animation-duration: 150ms;

  --slider-animation-duration: 500ms;
  --slider-animation-function: ease;

  --mobile-product-card-image-height: 140px;

  @include media-breakpoint-up(xl) {
    --content-width: #{map-get($container-max-widths, xl)};
  }
  @include media-breakpoint-down(xl) {
    --content-width: #{map-get($container-max-widths, lg)};
  }
  @include media-breakpoint-down(lg) {
    --content-width: #{map-get($container-max-widths, md)};
  }
  @include media-breakpoint-down(md) {
    --content-width: #{map-get($container-max-widths, sm)};
  }
  @include media-breakpoint-down(sm) {
    --content-width: 100vw;
  }

}