.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: var(--header-height);
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  max-width: calc(100vw - var(--scrollbar-width));

  &__top {
    border-bottom: 1px solid var(--color-1);
    font-size: 14px;
  }
  &__top-container {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__top-left-list {
    display: flex;
  }
  &__top-left-item {
    display: flex;
    &:not(:last-child) {
      margin-right: 35px;
    }
  }
  &__top-right-list {
    display: flex;
    font-weight: 300;
  }
  &__top-right-item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
  &__phone {
    color: var(--color-text);
  }
  &__categories {
    padding: 20px 0 13px 0;
  }
  &__categories-list {
    display: flex;
    justify-content: space-between;
  }
  &__center-container {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    justify-content: space-between;
    align-items: center;
  }
  &__center-right-list {
    display: flex;
    justify-content: flex-end;
  }
  &__center-right-item {
    display: flex;
    &:not(:last-child) {
      margin-right: 28px;
    }
  }
  &__center-left-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__catalog-button {
    margin-right: 20px;
    .icon {
      width: 18px;
      height: 18px;
      &:first-child {
        margin-right: 8px;
      }
    }
  }
  &__search {
    position: absolute;
    width: 100%;
  }
  &__icon-link {
    .icon {
      width: 18px;
      height: 18px;
      stroke-width: 1.5px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__center-right {
      padding-top: 20px;
    }
    &__center-left {
      padding-top: 20px;
      display: flex;
    }
    &__search {
      bottom: calc(100% + 10px);
      & > .container {
        padding: 0;
      }
    }
    &_fixed {
      position: fixed;
      box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.07);
      height: auto;
      .header__top, .header__logo, .header__sale-link {
        display: none;
      }
      .header__search {
        position: relative;
        bottom: initial;
        width: 400px;
      }
      .header__center-container {
        grid-template-columns: auto auto;
      }
      .header__center-left, .header__center-right {
        padding-top: 0;
      }
      .header__categories {
        padding: 20px 0;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    position: fixed;
    &__top, &__categories, &__catalog-button, &__sale-link {
      display: none;
    }
    &__center-left-container {
      position: initial;
    }
    &__center {
      border-bottom: 1px solid var(--color-1);
      height: 100%;
    }
    &__center-container {
      grid-template-columns: 1fr 58px 1fr;
      padding-top: 0;
      height: 100%;
    }
    &__mobile-button-item {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
    &__icon-link {
      span {
        display: none;
      }
      .icon {
        stroke-width: 0.9px;
        margin: 0 !important;
      }
    }
    &__mobile-buttons-left-list {
      display: flex;
    }
    &__mobile-button {
      transition: color $trs1;
      .icon {
        display: block;
        width: 30px;
        height: 30px;
      }
      &[data-touch], &[data-hover] {
        color: var(--color-3);
      }
    }
    &__search {
      background-color: #fff;
      left: 0;
      top: calc(100% - 1px);
      border-bottom: 1px solid var(--color-1);
      padding-bottom: 17px;
      display: none;
      &.is-active {
        display: block;
      }
      .search__input {
        .icon {
          display: none;
        }
        input {
          padding-left: var(--px);
        }
      }
    }
    [data-mobile-search='toggle'] {
      &.is-active {
        color: var(--color-3);
      }
    }
  }
}