.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: var(--header-height) 0 0 0;
  max-width: var(--content-max-width);
  @include media-breakpoint-down(sm) {
    overflow: hidden;
  }
}

.main {
  --main-top-padding: 40px;
  flex: 1 0 auto;
  padding: var(--main-top-padding) 0 0 0;
  @include media-breakpoint-down(sm) {
    --main-top-padding: 25px;
  }
}

.section {
  --section-margin: 80px;
  margin: 0 0 var(--section-margin) 0;
  @include media-breakpoint-down(sm) {
    --section-margin: 45px;
  }
}