.auth-box {
  @include media-breakpoint-up(sm) {
    max-width: 600px;
    margin: 40px auto 0 auto;
    padding: 45px 50px;
    border-radius: 5px;
    border: 1px solid var(--color-1);
    &__title {
      text-align: center;
    }
  }
}

.lk {
  &__title {
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__order-preview {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__order-buttons {
    display: flex;
    gap: 15px;
    .button {
      padding: 0;
      flex: 1 0 auto;
      min-width: initial;
    }
  }
  &__back {
    margin-bottom: 30px;
  }
  &__products-preview-list {
    margin-bottom: 60px;
  }
  &__cart-detail-box {
    margin-bottom: 35px;
  }
  @include media-breakpoint-up(xl) {
    &__title {
      &:first-child {
        margin-top: 17px;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    &__back {
      margin-bottom: 25px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__order-buttons {
      flex-wrap: wrap;
      .button {
        flex: 1 0 100%;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__title {
      margin-bottom: 25px;
    }
    &__products-preview-list {
      margin-bottom: 45px;
    }
    &__cart-detail-box {
      margin-bottom: 25px;
    }
  }
}

.lk-nav {
  &__link {
    display: flex;
    align-items: center;
    .icon {
      flex: 0 0 auto;
      margin-right: 10px;
      width: 22px;
      height: 22px;
    }
  }
  @include media-breakpoint-up(xl) {
    &__link {
      padding: 25px;
      color: var(--color-text-dark) !important;
      transition: background-color $trs1;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: var(--color-1);
      &:first-child {
        border-radius: 5px 5px 0 0;
      }
      &:last-child {
        border-radius: 0 0 5px 5px;
        border-width: 1px;
      }
      
      &[data-touch], &[data-hover], &.active {
        background-color: var(--color-8);
      }
      &.active {
        pointer-events: none;
      }
    }
  }
  @include media-breakpoint-down(xl) {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 25px;
    &__link {
      &.active {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    margin: 5px 0 25px 0;
  }
}

.lk-order-preview {
  border-radius: 5px;
  border: 1px solid var(--color-1);
  padding: 35px 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 20px;
  &__head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
  }
  &__title {
    font-size: 18px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 12px 5px;
  }
  &__item {
    &::before {
      content: '';
      display: block;
      padding-top: 77.4%;
    }
  }
  &__detail {
    .button {
      padding: 0 20px;
    }
  }
  &__date {
    font-weight: 300;
  }
  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
    gap: 0;
    &__head {
      margin-bottom: 10px;
    }
    &__date {
      order: 3;
      margin-bottom: 20px;
    }
    &__detail {
      order: 4;
    }
    &__items {
      margin: 25px 0;
    }
    &__head {
      justify-content: space-between;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 20px 25px 20px;
    &__items {
      grid-template-columns: repeat(3, 1fr);
      padding-right: 20px;
    }
  }
}

.lk-user-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 75px;
  &__form {
    --bs-gutter-x: 20px;
  }
  @include media-breakpoint-down(xl) {
    gap: 60px;
  }
  @include media-breakpoint-down(lg) {
    gap: 45px;
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
}

.lk-order-total-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 72px;
  &__box {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
  @include media-breakpoint-down(xl) {
    column-gap: 60px;
  }
  @include media-breakpoint-down(lg) {
    column-gap: 45px;
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    &__right {
      margin-bottom: 45px;
    }
    &__box {
      &:not(:last-child) {
        margin-bottom: 45px;
      }
    }
    &__left {
      order: 2;
    }
  }
}