.modal {
  position: fixed;
  z-index: 1003;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  background: var(--color-modal-overlay);
  &__wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  &.d-block {
    display: flex !important;
  }
  &__inner {
    position: relative;
    width: 100%;
    min-height: 100%;
    max-width: var(--content-max-width);
    margin: auto 0;
    display: flex;
    padding: 60px var(--container-padding-x);
  }
  @include media-breakpoint-up(lg) {
    &-block {
      transition: transform var(--trs-2);
      transform: scale(0.9);
    }
    &.d-block {
      .modal-block {
        transform: scale(1);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__inner {
      padding: 40px var(--container-padding-x);
    }
  }
}

.modal-block {
  position: relative;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 50px 90px;
  &__close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 32px;
    height: 32px;
  }
  @include media-breakpoint-up(lg) {

  }
  @include media-breakpoint-down(sm) {
    padding: 30px 25px;
    &__close {
      width: 24px;
      height: 24px;
      right: 12px;
      top: 12px;
      .icon {
        stroke-width: 2px;
      }
    }
  }
}

.modal-location {
  &__block {
    max-width: 810px;
  }
  &__search {
    max-width: 430px;
    margin-bottom: 45px;
  }
  &__list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    column-gap: var(--grid-gutter-width);
    row-gap: 20px;
  }
  &__item {
    a {
      display: block;
      font-weight: 300;
    }
  }
  @include media-breakpoint-up(sm) {
    &__block {
      padding: 50px 60px 60px 60px;
    }
  }
  @include media-breakpoint-up(md) {
    &__block {
      padding: 50px 105px 65px 105px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__list {
      grid-template-columns: 100%;
    }
    &__search {
      margin-bottom: 30px;
    }
  }
}

.review-modal {
  &__block {
    max-width: 650px;
  }
  &__rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px 15px;
    font-size: 18px;
    &-title {
      color: var(--color-text-dark);
    }
  }
}

.success-modal {
  &__block {
    max-width: 810px;
  }
  &__check {
    .icon {
      opacity: 0;
      animation: var(--trs-2) calc(var(--animation-duration-1) * 2) success-modal_fade1 forwards paused;
    }
    &::before, &::after {
      opacity: 0;
      animation-duration: var(--animation-duration-2);
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      animation-play-state: paused;
    }
    &::before {
      animation-name: success-modal_fade2;
      animation-delay: var(--animation-duration-1);

    }
    &::after {
      animation-name: success-modal_fade1;
    }
  }
  &.d-block {
    .success-modal__check {
      &::before, &::after {
        animation-play-state: running;
      }
      .icon {
        animation-play-state: running;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__block {
      padding-top: 45px;
      padding-bottom: 35px;
    }
  }
}

@keyframes success-modal_fade1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes success-modal_fade2 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}