.modal {
  position: fixed;
  z-index: 1003;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  display: none;
  background: var(--color-modal-overlay);
  &.is-active {
    display: flex;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    max-width: calc(100vw - var(--scrollbar-width));
    margin: auto 0;
    display: flex;
    padding: 60px var(--container-padding-x);
  }
  @include media-breakpoint-down(sm) {
    &__wrapper {
      padding: 40px var(--container-padding-x);
    }
  }
}

.modal-block {
  position: relative;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  &__close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 32px;
    height: 32px;
  }
  @include media-breakpoint-down(sm) {
    padding: 30px 25px;
    &__close {
      width: 24px;
      height: 24px;
      right: 12px;
      top: 12px;
      .icon {
        stroke-width: 3px;
      }
    }
  }
}

.modal-location {
  &__block {
    max-width: 810px;
  }
  &__search {
    max-width: 430px;
    margin-bottom: 45px;
  }
  &__list {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    column-gap: var(--grid-gutter-width);
    row-gap: 20px;
  }
  &__item {
    a {
      display: block;
      font-weight: 300;
    }
  }
  @include media-breakpoint-up(sm) {
    &__block {
      padding: 50px 60px 60px 60px;
    }
  }
  @include media-breakpoint-up(md) {
    &__block {
      padding: 50px 105px 65px 105px;
    }
  }
  @include media-breakpoint-down(sm) {
    &__list {
      grid-template-columns: 100%;
    }
    &__search {
      margin-bottom: 30px;
    }
  }
}