.side-modal {
  @include media-breakpoint-up(xl) {
    display: none;
  }
  @include media-breakpoint-down(xl) {
    background-color: var(--color-side-modal-overlay);
    position: fixed;
    z-index: 1001;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    &__container {
      background-color: #fff;
      height: 100%;
      overflow: auto;
    }
    &__head {
      background-color: #fff;
      height: var(--header-height);
      border-bottom: 1px solid var(--color-1);
      padding: 0 var(--container-padding-x);
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 2;
    }
    &__close {
      width: 30px;
      height: 30px;
    }
  }
}