extends layout/layout

block variables
  -var page_title = 'Карты Таро и выбор колоды для начинающих'

block content
  article.section.article(itemscope itemtype="http://schema.org/Article")
    .article-head 
      .container.article-head__container 
        .article-head__content 
          a(href="#").icon-link.icon-link_type-2.article__back.mb-15.mb-sm-40 
            svg.icon
              use(xlink:href='./img/icons/icons.svg#caret-left')
            span Вернуться к блогу
          h1.article-head__title.mt-0.mb-15.mb-sm-25(itemprop="headline") Карты Таро и выбор колоды для начинающих
          .article-head__description
            | Какие карты Таро для начинающих выбрать? Какие расклады существуют, как правильно проводить гадание, делать трактовку?
          .article-head__info 
            .article-head__labels
              .article-info-item
                svg.icon
                  use(xlink:href='./img/icons/icons.svg#calendar-blank')
                span(itemprop="datePublished" datetime="2021-04-25") 25 апреля 2021
              .article-info-item 
                svg(fill='none').icon
                  use(xlink:href='./img/icons/icons.svg#heart')
                span 120
              .article-info-item 
                svg.icon
                  use(xlink:href='./img/icons/icons.svg#eye')
                span 9500
            
            a(href="#article-reviews" data-action="scroll_to_anchor").color-dark 19 комментариев 
        
        .image.image_contain.article-head__image
          img(data-src="./img/Group 563.png", alt="image" itemprop="image").lazyload
    .article__container.container
      .row(itemprop="articleBody") 
        .col-xl-8 
          h2 Разнообразие карт Таро
          p Сегодня на прилавках магазинов представлено немало карт Таро в самом разном авторстве – все они имеют особенный дизайн и даже трактовку. Но самое интересное, что каждый автор может преследовать свои цели – некоторые делают акцент на сугубо материальной стороне гаданий (как бизнеса), другие действительно делятся сакральными знаниями. Соответственно, посыл каждой карты будет различаться.
          p Какие лучшие карты Таро для начинающих можно рассмотреть? Многие практикующие тарологи делят их на группы в зависимости от школы:
          ol 
            li Традиционная. В данную группу входят Египетские, либо же Марсельские Таро. При всей простоте – точны, достоверны в предсказании.
            li Расклады Таро для начинающих, проведенные на универсальных колодах – самые простые. Сюда можно отнести: колоды Райдера-Уэйта, Ошо Дзен, Золотой Зари. Все они создавались разными авторами, но похожи тем, что имеют общую трактовку Арканов.
            li Если встал вопрос: «Какие таро купить для начинающих?», целесообразно остановить выбор на авторских колодах – они наделены определенным смыслом и посылом, а символы дополнены индивидуальной практикой каждого таролога. К таковым относятся: Таро 78 дверей, Сказочное или же Оракул Богинь, и так далее.
            li Самыми загадочными и сложными в интерпретации можно назвать специальные колоды карт Таро – направленные на рассмотрение узких вопросов. Как пример, колода Манара откроет ответы на вопросы, связанные с сексуальными отношениями, а вот Влюбленные – поведают многое в делах сердечных.
          h2 Как выбрать свою колоду Таро для начинающих?
          p Если с ответом на вопрос выбора карт Таро для начинающих разобрались – важно понять, как отыскать именно свою колоду? Прислушиваясь к советам опытных, практикующих тарологов, новичкам стоит остановиться на колоде Уэйта – она проста в трактовке и безопасна по мнению эзотериков.
          p Существуют и иные, предназначенные для новичка колоды, например все те же Русские Таро Лубок – на них присутствуют рисунки, связанные с историей Руси, понятные в трактовке. Представленные колоды удобны и тем, что на обратной стороне имеют трактовку каждого символа.
          p Выбирая собственную колоду, возьмите ее в руки. Она должна удобно ложиться в ладошку, на энергетическом уровне вызывать только положительные ощущения. Надо прислушаться к себе – колода сразу, так сказать, внутренне "отзовется".
          p При этом примите во внимание следующие советы:
          ol 
            li Оптимально подбирать те колоды, где значение расписано на тыльной стороне карт – для начинающих это облегчит процесс гадания и обучения.
            li Все должно быть изложено на доступном языке, рисунки четкие и понятные – это поможет при расшифровке.
            li Чем тверже сама бумага (идеально, если она заламинирована), на которой напечатана карта – тем лучше в использовании.
            li Сама колода должна быть новой, запечатанной, на картах никто не должен гадать ранее.
            li Рисунки, надписи должны быть четкими и хорошо прорисованными.
          p И еще один совет от тарологов: <strong>если работать с картами постоянно, их потенциал начнет постепенно увеличиваться</strong>, соответственно, будет расти и внутренняя связь с высшими силами астрала.
          p Проводя работу с Таро, для начинающих тарологов важно помнить, что персональная колода не терпит ни грязных, ни посторонних рук. Потому приступая к сеансу, нужно обязательно надо помыть, и никогда не давать посторонним, даже просто подержать. В противном случае, тесная связь карт и владельца "перекрывается " на астральном уровне, и правильно толковать комбинации символов невозможно.
          p Опираясь на опыт практикующих тарологов, желательно выбирать карты, которые содержат рисунки, несущие определенную смысловую нагрузку, значение. А еще лучше – с прописанными для трактовки ключами. Так они проще запоминаются, и толкование проходит проще, быстрее, без потери смысла.
          p Закономерный вопрос: «Как понять, что это твоя колода, ведь карты идут запечатанными?» Тут на помощь приходит Интернет. Например, выбирая карты Таро в нашем магазине, их можно спокойно рассмотреть, определиться, какие больше нравятся, оценить уровень качества печати. Самое главное, ощутить – нравятся или нет картинки, цветовая гамма и оформление, размер и текстура.
          p Многие тарологи не рекомендуют приобретать карты, следуя веянию моды или же в момент сильных, положительных/отрицательных чувств. Как пример, если в данную минуту вас что-то чрезмерно волнует, стоит отложить покупку. Важно приступать к выбору своей колоды, не ставя определенную цель и вопрос, не стремиться получить ответ прямо здесь и сейчас, не отходя от кассы.
          p Немаловажен также и вопрос удобства – речь идет о размере карт. Одним проще работать с крупными, другим с мелкими картами. Это сугубо индивидуальный параметр, не влияющий на трактовку. Не стоит покупать и слишком дорогие карты – захотите ли вы продолжать далее обучение тонкому искусству гадания на Таро или оставите затею после первого сеанса, неизвестно, но лишние затраты на первом, начальном этапе вам не нужны. Даже если вам такую колоду рекомендовали знакомые маги или она выглядит более презентабельно.
          p Помните! Выбирать свою колоду можно исходя и из собственного биологического, женского цикла менструации. Не следует осуществлять покупку в критические дни. Есть вероятность, что тогда Таро не будут "работать" точно, давать правдивые ответы.
          h2 Приобретать ли карты вместе с книгой?
          p Нередко в дополнение к колоде карт идет книга. Стоит ли покупать набор? Стоит. Даже если вы просто хотите узнать значение Таро для начинающих, обязательно подумайте о приобретении сопутствующей литературы, с обозначением карт, их смыслом и схемами расклада.
          p Книга в этом варианте выступает подсказкой, пояснением – она дает основные в работе с Таро понятия, схемы, помогает трактовать самые распространенные комбинации, верно читать символы, выпавшие в прямом/перевернутом положении.
          h2 Способы гадания
          p Чтобы научиться толкованию Таро, начинающему достаточно знать три основных способа гадания (не путать со схемами расклада).
          h3 Системное
          p Гадающий строго придерживается схемы расклада, трактует карты по книге. Никаких отклонений и самоуправства здесь не допускается.
          h3 Интуитивный
          p Нередко многие начинающие тарологи просто составляют свою трактовку – они смотрят на карту и проводят собственную ассоциацию с последней, видят свои внутренние образы. Это сложный уровень – он доступен не всем.
          h3 Смешанный способ
          p Это когда гадающий строго следует схеме расклада, трактовке, но при этом прислушивается к собственной интуиции. Страх или радость, внутренние символы и картинки, – все это поможет детально трактовать расклад, сделать его более объемным и информативным.
          p Прежде чем приступать к ритуалу обращения к высшим силам при помощи Таро, необходимо принять во внимание следующие советы: 
          ol 
            li Перед сеансом стоит отключить телефон и телевизор, сделать так, чтобы вам никто и ничто не мешало и не отвлекало. Для лучшего настроя, приглушите свет или притемните шторами окна, зажгите любимые свечи или включите светильник.
            li Также накануне нужно убрать помещение, в котором будете гадать, очиститься самому, одеть новую, или, по крайней мере, чистую одежду. Так вы снимете с себя астральную грязь и негатив. На столе лучше рекомендуется расстелить белого цвета скатерть.
            li Перед гаданием карты стоит подержать несколько минут в руках, как бы прогревая их, налаживая астральную связь. Сколько это займет времени – неизвестно, но на выходе вы должны ощущать некое тепло или холодок, исходящий от колоды.
            li Не следует пить и курить перед гаданием, как минимум за сутки. Карты этого не любят и никогда не скажут правды. Плюс, алкоголь и сигареты элементарно могут притупить сознание – вы просто истолкуете расклад неверно.
            li Стоит выпить накануне травяного чая – это поможет успокоиться, настроиться на соответствующий лад, но при условии, если гадаете сами себе. Если кому-то по просьбе – оптимально заварить кофе. Это позволит сконцентрировать и направить наружу необходимый поток энергии.
            li Перед ритуалом желательно осмысленно настроиться на соответствующий лад, успокоиться, на некоторое время выбросить все мысли из головы. Лишние эмоции и суета могут "сбить" с толку сами карты, и итогом будет неверное гадание.
          p Уже после должного настроя надо кратко сформулировать волнующий вопрос, соответствующий проблеме или жизненной ситуации. И главное помните, что задавать один и тот же вопрос дважды, даже перефразировав его иначе – запрещено. Сути расклада это не поменяет, но может, так сказать, разгневать высшие силы.
          p Что касается самого расклада, то практикующие тарологи советуют новичкам начинать с простых схем, например, с карты дня. Гадание проводят по одному символу, и трактовка актуальна только в формате ближайшего дня. Приступать к нему надо с самого утра, после пробуждения.
          p Утром нужно умыть лицо, не есть, не пить, сесть за стол, подержать карты в руке. После, не думая – вытянуть из колоды одну карту. Далее просто трактовать ее посыл и понять, что день грядущий вам готовит. Было бы неплохо, если бы вы накануне вечером вспомнили, какие события происходили на протяжении дня или даже записали их. Постепенно так будет можно создавать свою трактовку для каждого символа и карты Таро, получать от высших сил собственные знаки и ассоциации.
          p Если вы не так давно практикуете гадание на Таро – воспользуйтесь раскладом на три карты. Начинать следует с концентрации внимания, внутренней энергии на интересующем вас вопросе, ситуации. После в произвольном порядке нужно вытянуть из колоды 3 карты, положить перед собой рубашками кверху и поочередно открывая, трактовать согласно символике:
          ol 
            li Первая карта расскажет о предшествующих ситуации событиях, ее первоистоках;
            li Вторая – кратко опишет нынешнее положение спрашивающего;
            li И уже третья поведает, чем все завершится.
          p Представленная схема может применяться в отношении любой ситуации и вопроса – работы или личных отношений, финансов и так далее.
          h2 А как же толкование?
          p После расклада отдельно проводится трактовка каждого символа. Информацию о значении карты можно отыскать как в специальной литературе, так и Интернете, сегодня это не составит труда. Но еще раз помните – каждый автор карт Таро дает свою трактовку, поэтому материал стоит искать относительно конкретной колоды.
          p Помимо авторской трактовки важно опираться и на собственные ощущения, прочувствовать, какие эмоции и ассоциации вызывает у вас карта, сама комбинация символов. Как говорят многие тарологи – нередко интуиция может подсказать больше, нежели прилагаемая к колоде трактовка Арканов.
          p Также посыл каждого Аркана может разниться в зависимости от того, как именно он выпал в раскладе – в прямом или перевернутом положении. Как показывает практика, прямое положение имеет положительную трактовку, перевернутое – противоположное, негативное знамение.
          p Еще один совет: читая Таро, нужно не только трактовать каждую карту по отдельности, но и весь расклад вместе. Даже если карты не складываются в целостную картинку, не стоит переживать – умение приходит с опытом!
          p Подводя итог можно сказать, что научиться читать Таро несложно, но освоить науку гадания сразу нельзя. Развивать собственные таланты и внутренний потенциал надо постепенно, усердно работая с колодой, помогая себе и людям. И даже если это будет вашим временным увлечением, вы обязательно получите неоценимый опыт и возможность по-новому взглянуть на окружающий мир, поменять мировоззрение, пересмотреть собственные устои.


      .article__controls 
        a(href="#article-reviews" data-action="scroll_to_anchor").icon-link.article__control
          svg.icon
            use(xlink:href='./img/icons/icons.svg#chat-teardrop')
          span 19 комментариев
        
        a(href="#").icon-link.icon-link_type-2.article__control
          svg(fill='none').icon
            use(xlink:href='./img/icons/icons.svg#thumbs-up')
          span Нравится
        
        a(href="#").icon-link.icon-link_type-2.article__control
          svg.icon
            use(xlink:href='./img/icons/icons.svg#megaphone')
          span Поделиться
        
        a(href="#").icon-link.icon-link_type-2.article__control
          svg.icon
            use(xlink:href='./img/icons/icons.svg#bookmarks-simple')
          span В избранное

  
  section.section
    .container 
      .row 
        .col-xl-8
          .section__head.mb-20.mb-sm-30
            h2 Подходящие товары
            p Прочитав статью, вас, возможно, заинтересовали бы следующие товары:
          .swiper.product-cards-slider.slider-constructor(data-slides='2' data-md-slides='3')
            .swiper-button.swiper-button-prev(data-custom-interaction)
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-left')
            .swiper-button.swiper-button-next(data-custom-interaction)
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-right')
            .swiper-container
              .swiper-wrapper 
                //slide
                .swiper-slide 
                  +product-card(1)
                //slide
                .swiper-slide 
                  +product-card(2)
                //slide
                .swiper-slide 
                  +product-card(3)
                //slide
                .swiper-slide 
                  +product-card(4)
                //slide
                .swiper-slide 
                  +product-card(2)

  section.section#article-reviews
    .container 
      .row 
        .col-xl-8
          .section__head.mb-20 
            h2.mb-0.d-inline Комментарии 
            span.color-muted (19)
          
          .mb-30.mb-sm-35
            a(href="#").button.button_style-2.d-flex.d-sm-inline-flex
              span.button__inner.button__default Добавить комментарий

          .comments
            ul.comments__list
              li.comments__item
                +comment('Игорь', 'Очень удачный фасон, стройнит невероятно! Прекрасный пошив, аккуратные швы, подкладка, фурнитура. Благородный темно-синий цвет. ...и абсолютно неподходящий для куртки материал, брызнула водой - ткань впитывает воду, темнеет и промокает, прямо обидно (((')
                ul.comments__list
                  li.comments__item 
                    +comment('Тамара', '<strong>Игорь,</strong> Много оптимистичных обещаний под много денег. Пока, увы, всё выглядит именно так.')
                  li.comments__item 
                    +comment('Борис', '<strong>Игорь,</strong> Мне понравилось в Сухуми поселок Мачара. Жили в гостевом домике за 1500р. в сентябре. Через дорогу от моря. Дельфины. Чистейшее море. В этом году только туда')
                  li.comments__item 
                    +comment('Василий', '<strong>Тамара,</strong> Азовское море. Посёлок Кучугуры. Море мелкое,несоленое,пляж чистый. Мы жили в гостинице Два капитана. Понравилось ,что море плещется в пяти метрах. Вышел из гостиницы ,спустился по ступенькам и вот оно ,море. Голубое,чистое ,тёплое.')

              li.comments__item
                +comment('Игорь', 'Очень удачный фасон, стройнит невероятно! Прекрасный пошив, аккуратные швы, подкладка, фурнитура. Благородный темно-синий цвет. ...и абсолютно неподходящий для куртки материал, брызнула водой - ткань впитывает воду, темнеет и промокает, прямо обидно (((')

  section.section
    .container 
      .row 
        .col-xl-8
          +section-head('Рекомендуемое из блога', 'Читать всё')
          .swiper.blog-slider.slider-constructor(data-slides='1' data-sm-slides='2')
            .swiper-button.swiper-button-prev(data-custom-interaction)
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-left')
            .swiper-button.swiper-button-next(data-custom-interaction)
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-right')
            .swiper-container
              .swiper-wrapper 
                //slide
                .swiper-slide 
                  +blog-card(1)
                //slide
                .swiper-slide 
                  +blog-card(2)
                //slide
                .swiper-slide 
                  +blog-card(1)
                //slide
                .swiper-slide 
                  +blog-card(2)
            
          .d-block.d-md-none.mt-25
            a(href="#").button.button_style-3.d-flex Читать всё
                  

