extends layout/layout

block variables
  -var page_title = 'Интернет-магазин эзотерических товаров'

block content

  section.section.main-banner.swiper
    .swiper-container 
      .swiper-wrapper 
        //slide
        .swiper-slide.main-banner__slide
          .image.image_cover
            img(src='#' data-src="./img/banner.jpg", alt="image").swiper-lazy
          .container.main-banner__slide-container
            .main-banner__slide-text-content 
              .mb-2.mb-sm-3
                h2.h1.main-banner__slide-title Большой ассортимент со всеми картами Таро и амулетами из Сибири
                p.main-banner__slide-text Какие карты Таро для начинающих выбрать? Какие расклады существуют, как правильно проводить гадание, делать трактовку?
              a(href="#").button.button_style-1.main-banner__slide-button
                span Перейти к выбору
        //slide
        .swiper-slide.main-banner__slide
          .image.image_cover
            img(src='#' data-src="./img/banner.jpg", alt="image").swiper-lazy
          .container.main-banner__slide-container
            .main-banner__slide-text-content
              .mb-2.mb-sm-3
                h2.h1.main-banner__slide-title Большой ассортимент
                p.main-banner__slide-text Какие карты Таро для начинающих выбрать?
              a(href="#").button.button_style-1.main-banner__slide-button
                span Перейти к выбору
        //slide
        .swiper-slide.main-banner__slide
          .image.image_cover
            img(src='#' data-src="./img/banner.jpg", alt="image").swiper-lazy
          .container.main-banner__slide-container
            .main-banner__slide-text-content
              .mb-2.mb-sm-3
                h2.h1.main-banner__slide-title Большой ассортимент со всеми картами Таро и амулетами из Сибири 
                p.main-banner__slide-text Какие карты Таро для начинающих выбрать? Какие расклады существуют, как правильно проводить гадание, делать трактовку?
              a(href="#").button.button_style-1.main-banner__slide-button
                span Перейти к выбору
    .swiper-pagination


  section.section.popular-categories
    .container 
      +section-head('Популярные категории', 'Смотреть все')
      
      .row.popular-categories__row 
        .col-6.col-xl-3.popular-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/mk1.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Таро и руны
        .col-6.col-xl-3.popular-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/mk2.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Здоровое питание
        .col-6.col-xl-3.popular-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/mk3.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Ароматерапия
        .col-6.col-xl-3.popular-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/mk4.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Натуральная косметика

      .d-block.d-md-none.mt-2
        a(href="#").button.button_style-3.button_wide Смотреть все

  section.section
    .container 
      +section-head('Часто покупаемые товары', 'Смотреть все')
      .swiper.product-slider.slider-constructor(data-slides='2' data-md-slides='3' data-xl-slides='4') 
        .swiper-button.swiper-button-prev(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-right')
        .swiper-button.swiper-button-next(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-right')
        .swiper-container
          .swiper-wrapper 
            //slide
            .swiper-slide 
              +product-card(1)
            //slide
            .swiper-slide 
              +product-card(2)
            //slide
            .swiper-slide 
              +product-card(3)
            //slide
            .swiper-slide 
              +product-card(4)
            //slide
            .swiper-slide 
              +product-card(2)

      .d-block.d-md-none.mt-2
        a(href="#").button.button_style-3.button_wide Смотреть все

  section.section
    .container
      +section-head('Новое поступление', 'Смотреть все')
      .swiper.product-slider.slider-constructor(data-slides='2' data-md-slides='3' data-xl-slides='4')
        .swiper-button.swiper-button-prev(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-right')
        .swiper-button.swiper-button-next(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-right')
        .swiper-container
          .swiper-wrapper 
            //slide
            .swiper-slide 
              +product-card(1)
            //slide
            .swiper-slide 
              +product-card(2)
            //slide
            .swiper-slide 
              +product-card(3)
            //slide
            .swiper-slide 
              +product-card(4)
            //slide
            .swiper-slide 
              +product-card(2)

      .d-block.d-md-none.mt-2
        a(href="#").button.button_style-3.button_wide Смотреть новинки

  section.section
    .container  
      .row 
        .col-md-5.order-md-2.mb-2.mb-sm-3.mb-md-0
          .about-images-grid
            .about-images-grid__container
              .image.image_cover 
                img(src='#' data-src="./img/Rectangle 406.jpg", alt="image").lazyload
              .image.image_cover  
                img(src='#' data-src="./img/Rectangle 407.jpg", alt="image").lazyload
              .image.image_cover  
                img(src='#' data-src="./img/Rectangle 408.jpg", alt="image").lazyload
        .col-md-7.order-md-1
          .pe-0.pe-xl-3 
            h2.mb-1.mb-sm-2 Интернет-магазин эзотерических товаров
            p Магазин clouds.ru - это возможность поделиться опытом, накопленным компанией "Clouds.ru" за 18 лет. Все эти годы мы отбирали течения восточной и западной психологии, философии и мистики, безопасно и эффективно поддерживающие личное и духовное развитие человека.
            p За 18 лет мы убедились, что люди, стоящие за идеями, не менее важны, чем сами идеи. Поэтому мы тщательно выбираем производителей, поставщиков и консультантов, чтобы проверенные и лучшие книги, благовония, предметы для дома и товары для здорового питания и экологичной жизни и многое другое были доступны по всей России. 
            p Наша цель - собрать в одном месте всё, что можно читать, смотреть, слушать, вдыхать, есть и носить, чтобы поддерживать стиль жизни, наполненный свободой и любовью. 
            p Внешние проявления нашего выбора - это явное напоминание о том, что мы считаем для себя важным и как мы стремимся жить. Поэтому действительно имеет значение, что мы читаем и какой музыкой наполняем свой досуг, что ставим на праздничный стол и чем украшаем свои дома.
  
  section.section
    .container 
      +section-head('Последнее из блога', 'Читать всё')
      .swiper.blog-slider.slider-constructor(data-slides='1' data-sm-slides='2' data-xl-slides='3')
        .swiper-button.swiper-button-prev(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-right')
        .swiper-button.swiper-button-next(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-right')
        .swiper-container
          .swiper-wrapper 
            //slide
            .swiper-slide 
              +blog-card(1)
            //slide
            .swiper-slide 
              +blog-card(2)
            //slide
            .swiper-slide 
              +blog-card(1)
            //slide
            .swiper-slide 
              +blog-card(2)
              