extends layout/layout

block variables
  -var page_title = 'Гарантии и возврат'
  -var breadcrumbs_links = ['Главная', page_title]

block content

  include blocks/breadcrumbs
  
  section.section 
    .container 
      h1.mb-1.mb-sm-3 Гарантии и возврат
      
      .section__container.row 
        .col-xl-8
          h2 Возврат товара:
          p Замена или возврат товара надлежащего качества возможен в течение 14 дней после получения товара покупателем при соблюдении условий:
          ol 
            li Сохранены его товарный вид и потребительские свойства (упаковка не нарушена, товаром не пользовались, товар без механических повреждений)
            li Товар не входил в «Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размеров, формы, габарита, фасона, расцветки или комплектации» (утв. Постановлением Правительства РФ от 19.01.1998г № 55)*
          p 
            strong Возврат товара может быть осуществлен как по желанию Покупателя, так и из-за ошибки со стороны продавца (неправильная комплектация, брак).
          h2 Способы осуществления возврата
          p Обратите внимание, вернуть товар можно следующими способами:
          ol 
            li В Москве по адресу ул Покровка дом 4 магазин "Clouds.ru" с пн - пт с 11 00 до 19 00
            li Почтой России (При возврате обратная пересылка оплачивается клиентом; адрес для возврата: 101000, г.Москва ул.Покровка, д.4, стр.1. На почте обязательно должен быть заполнен бланк описи в двух экземплярах. Без описи товара возврат не осуществляется)
          p В случае возврата по вине Продавца, деньги за почтовые расходы возвращаются в течение 5-10 рабочих дней.
          h2 Возврат денежных средств
          p Возврат денежных средств Покупателю осуществляется тремя способами:
          ol 
            li Наличным расчетом (на месте оформления возврата)
            li Банковским переводом (до 7 календарных дней) 
            li Почтовым переводом (до 7 календарных дней)
          p Для банковского перевода необходимо отправить письмо с темой «возврат» и следующую информацию:
          p 
            strong Расчетный счет Клиента
            br
            strong БИК банка
            br 
            strong Номер карты
            br
            strong ФИО
          p Срок зачисления денежных средств на расчетный счет Клиента зависит от внутреннего регламента банка-получателя.
          h2 Товары, которые не подлежат возврату
          p *Товары надлежащего качества, которые нельзя обменять (вернуть), перечислены в Перечне, утвержденном постановлением Правительства РФ от 19 января 1998 г. № 55. Приводим его полностью.
          ol 
            li Сохранены его товарный вид и потребительские свойства (упаковка не нарушена, товаром не пользовались, товар без механических повреждений)
            li Товар не входил в «Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размеров, формы, габарита, фасона, расцветки или комплектации» (утв. Постановлением Правительства РФ от 19.01.1998г № 55)*
            