extends layout/layout

block variables
  -var page_title = 'Каталог'
  -var breadcrumbs_links = ['Главная', 'Каталог']

block content
  include blocks/breadcrumbs

  section.section.catalogue-categories
    .container
      h1.mb-25.mb-sm-30.mb-lg-40 Каталог
      .catalogue-categories__grid
        .catalogue-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/catalogue/1.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Благовония
        .catalogue-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/catalogue/2.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Свечи
        .catalogue-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/catalogue/3.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Таро и руны
        .catalogue-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/catalogue/4.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Здоровое питание
        .catalogue-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/catalogue/5.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Ароматерапия
        .catalogue-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/catalogue/6.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Инструменты биолокации
        .catalogue-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/catalogue/7.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Натуральная косметика
        .catalogue-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/catalogue/8.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Книги
        .catalogue-categories__item
          a(href="#").category-label.large-category-label
            img(src='#' data-src="./img/catalogue/9.png", alt="img").lazyload.large-category-label__image
            h5.category-label__title.large-category-label__title Чай



  section.section
    .container 
      +section-head('Последнее из блога', 'Читать всё')
      .swiper.blog-slider.slider-constructor(data-slides='1' data-sm-slides='2' data-xl-slides='3')
        .swiper-button.swiper-button-prev(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-left')
        .swiper-button.swiper-button-next(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-right')
        .swiper-container
          .swiper-wrapper 
            //slide
            .swiper-slide 
              +blog-card(1)
            //slide
            .swiper-slide 
              +blog-card(2)
            //slide
            .swiper-slide 
              +blog-card(1)
            //slide
            .swiper-slide 
              +blog-card(2)
        
      .d-block.d-md-none.mt-25
        a(href="#").button.button_style-3.d-flex Читать всё
             