extends layout/layout

block variables
  -var page_title = 'Подтверждение кода'

block content

  section.section.contacts
    .container 
      .auth-box
        h1.auth-box__title.mt-20.mt-sm-0.mb-25.mb-sm-35 На номер 
          mark +7 999 999-99-99 
          | отправлен код, введите его:
        form(action="#").form
          .form__element.mb-25
            .input
              input(type="text")
              label Код
          .mb-20.mb-md-25
            button.button.button_style-2.button_wide.button_large
              span.button__inner.button__default 
                span Подтвердить регистрацию
                svg(style='stroke-width:2px;').icon
                  use(xlink:href='./img/icons/icons.svg#arrow-up-right')
          
          .row.justify-content-center
            .col-auto
              a(href="#").color-muted.fw-light Код не пришёл 

          

    