extends layout/layout

block variables
  -var page_title = 'Создать профиль'

block content

  section.section.contacts
    .container 
      .auth-box
        h1.auth-box__title.mt-20.mt-sm-0.mb-25.mb-sm-35 Создать профиль
        form(action="#").form
          .form__element.mb-25
            .input
              input(type="text" data-validate="phone")
              label Номер телефона
          .mb-30.mb-md-35
            button.button.button_style-2.button_wide.button_large
              span.button__inner.button__default 
                span Получить код
                svg(style='stroke-width:2px;').icon
                  use(xlink:href='./img/icons/icons.svg#arrow-up-right')

          .mb-20
            +checkbox('Получать эксклюзивные скидки в SMS-рассылке от GoldHands', true)
          
          +checkbox('Согласен с условиями <a href="#" class="color-dark">Правил пользования интернет-магазином</a>')


    