extends layout/layout

block variables
  -var page_title = 'Триглав Амулет защитный Берегиня №10 Aztek'
  -var breadcrumbs_links = ['Главная', 'Каталог', 'Амулеты', 'Славянские амулеты', page_title]

block content

  include blocks/breadcrumbs
  
  section.section.product
    .container
      .product-head
        //картинки
        .product-slider.product-head__slider
          .product-slider__miniatures
            //small
            .product-slider__miniature
              .image.image_contain
                img(data-src="./img/image 60.jpg", alt="image").lazyload
            //small
            .product-slider__miniature
              .image.image_contain
                img(data-src="./img/image 60.jpg", alt="image").lazyload
            //small
            .product-slider__miniature
              .image.image_contain
                img(data-src="./img/image 60.jpg", alt="image").lazyload
            //small
            .product-slider__miniature
              .image.image_contain
                img(data-src="./img/image 60.jpg", alt="image").lazyload
          .swiper-container 
            .swiper-wrapper
              //large
              .swiper-slide
                .image.image_contain 
                  img(data-src="./img/image 60.jpg", alt="image").lazyload
              //large
              .swiper-slide
                .image.image_contain
                  img(data-src="./img/image 60.jpg", alt="image").lazyload
              //large
              .swiper-slide
                .image.image_contain
                  img(data-src="./img/image 60.jpg", alt="image").lazyload
              //large
              .swiper-slide
                .image.image_contain
                  img(data-src="./img/image 60.jpg", alt="image").lazyload

        .product-head__content 
          .product-head__article Арт. 18475338
          h1.product-head__title Триглав Амулет защитный Берегиня №10 Aztek
          .product-head__info-items
            a(href="#").rate-item
              .rate-item__stars
                .rate-item__star
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#star')
                .rate-item__star
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#star')
                .rate-item__star
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#star')
                .rate-item__star
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#star-empty')
                .rate-item__star
                  svg.icon
                    use(xlink:href='./img/icons/icons.svg#star-empty')
              span 
                | 16 отзывов
                

            .availability-label.availability-label_true
              svg.icon
                use(xlink:href='./img/icons/icons.svg#check')
              span В наличии

            //<div class="availability-label availability-label_false"><span>Нет в наличии</span></div>
          
          .product-head__description 
            | Триглав олицетворяет творческую силу Сварога, законы Перуна и божественный Свет Семаргла. Он неусыпно следит за тремя царствами: Правью, Явью и Навью.
          
          form(action="#").product-head__to-cart 
            .product-head__pricing 
              .product-head__price 2500 ₽
              .product-head__old-price 3000 ₽
            
            button.button.button_style-2.button_large.button_cart.product-head__to-cart-button
              span.button__inner.button__default 
                svg.icon
                  use(xlink:href='./img/icons/icons.svg#handbag')
                span Добавить в корзину

            .product-calculator(data-custom-interaction)
              button(type='button').product-calculator__button.product-calculator__button_minus
                svg.icon 
                  use(xlink:href="./img/icons/icons.svg#minus")
              input(type="text" value='1' data-min='1').product-calculator__input
              button(type='button').product-calculator__button.product-calculator__button_plus
                svg.icon 
                  use(xlink:href="./img/icons/icons.svg#plus")
          
          .product-head__links 
            a(href="#").icon-link.icon-link_type-2.product-head__link
              svg(fill='none').icon
                use(xlink:href='./img/icons/icons.svg#heart')
              span В избранное
            a(href="#").icon-link.icon-link_type-2.product-head__link
              svg.icon
                use(xlink:href='./img/icons/icons.svg#megaphone')
              span Поделиться

  section.section.product-info

    section.section 
      .container 
        .row 
          .col-xl-8
            h2 Описание
            p Триглав олицетворяет творческую силу Сварога, законы Перуна и божественный Свет Семаргла. Он неусыпно следит за тремя царствами: Правью, Явью и Навью. Слово и взгляд божества обладают силой, способной преодолеть все границы и дать любую награду. 
            p <strong>Защищает:</strong> от несправедливости и врагов.
              br
              | <strong>Приносит:</strong> богатство, силу, знание.
              br
              | <strong>Помогает:</strong> укрепить дом, хозяйство, семью, государство. 
              br
              | <strong>Покровитель:</strong> Перун – бог-покровитель мира.
              br
              | <strong>Источник силы:</strong> Вселенная.
            h4 Преимущества
            p Гадающий строго придерживается схемы расклада, трактует карты по книге. Никаких отклонений и самоуправства здесь не допускается.
            h4 Особенности
            p Нередко многие начинающие тарологи просто составляют свою трактовку – они смотрят на карту и проводят собственную ассоциацию с последней, видят свои внутренние образы. Это сложный уровень – он доступен не всем.

    section.section 
      .container 
        .row 
          .col-xl-8
            h2 Характеристики
            table.info-table 
              tr 
                td 
                  span Размер
                td 
                  span 3х3 см
              tr 
                td 
                  span Состав
                td 
                  span Амулет + шнурок
              tr 
                td 
                  span Материал
                td 
                  span 
                    a(href="#").link-bordered Олово 
              tr 
                td 
                  span Цвет
                td 
                  span 
                    a(href="#").link-bordered Серебряный
              tr 
                td 
                  span Страна
                td 
                  span 
                    a(href="#").link-bordered Россия
              tr 
                td 
                  span Серия
                td 
                  span 
                    a(href="#").link-bordered Берегиня
              tr 
                td 
                  span Назначения
                td 
                  span 
                    a(href="#").link-bordered Богатство / Мудрость и знания / Жизненная энергия
    
    section.section
      
      section.section
        .container
          .section__head.mb-1.mb-sm-2
            h2.mb-0 Сопутствующие товары
          .swiper.product-cards-slider.slider-constructor(data-slides='2' data-md-slides='3' data-xl-slides='4')
            .swiper-button.swiper-button-prev(data-custom-interaction)
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-left')
            .swiper-button.swiper-button-next(data-custom-interaction)
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-right')
            .swiper-container
              .swiper-wrapper 
                //slide
                .swiper-slide 
                  +product-card(1)
                //slide
                .swiper-slide 
                  +product-card(2)
                //slide
                .swiper-slide 
                  +product-card(3)
                //slide
                .swiper-slide 
                  +product-card(4)
                //slide
                .swiper-slide 
                  +product-card(2)
      
      section.section
        .container
          .section__head.mb-1.mb-sm-2
            h2.mb-0 Рекомендуемые товары
          .swiper.product-cards-slider.slider-constructor(data-slides='2' data-md-slides='3' data-xl-slides='4')
            .swiper-button.swiper-button-prev(data-custom-interaction)
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-left')
            .swiper-button.swiper-button-next(data-custom-interaction)
              svg.icon
                use(xlink:href='./img/icons/icons.svg#caret-right')
            .swiper-container
              .swiper-wrapper 
                //slide
                .swiper-slide 
                  +product-card(1)
                //slide
                .swiper-slide 
                  +product-card(2)
                //slide
                .swiper-slide 
                  +product-card(3)
                //slide
                .swiper-slide 
                  +product-card(4)
                //slide
                .swiper-slide 
                  +product-card(2)

    section.section
      .container 
        .section__head.mb-1.mb-sm-2
          h2.mb-0 Отзывы и оценка


  
  section.section
    .container 
      +section-head('Рекомендуемое из блога', 'Читать всё')
      .swiper.blog-slider.slider-constructor(data-slides='1' data-sm-slides='2' data-xl-slides='3')
        .swiper-button.swiper-button-prev(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-left')
        .swiper-button.swiper-button-next(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-right')
        .swiper-container
          .swiper-wrapper 
            //slide
            .swiper-slide 
              +blog-card(1)
            //slide
            .swiper-slide 
              +blog-card(2)
      

      .d-block.d-md-none.mt-2
        a(href="#").button.button_style-3.button_wide Читать всё

  section.section
    .container
      .section__head.mb-1.mb-sm-2
        h2.mb-0 Ранее просмотренные товары
      .swiper.product-cards-slider.slider-constructor(data-slides='2' data-md-slides='3' data-xl-slides='4')
        .swiper-button.swiper-button-prev(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-left')
        .swiper-button.swiper-button-next(data-custom-interaction)
          svg.icon
            use(xlink:href='./img/icons/icons.svg#caret-right')
        .swiper-container
          .swiper-wrapper 
            //slide
            .swiper-slide 
              +product-card(1)
            //slide
            .swiper-slide 
              +product-card(2)
            //slide
            .swiper-slide 
              +product-card(3)
            //slide
            .swiper-slide 
              +product-card(4)
            //slide
            .swiper-slide 
              +product-card(2)


      