footer.footer
  .container 
    .footer__top 

      .footer__info 
        a(href="./").logo.footer__logo
          img(src="./img/logos/logo.png", alt="logo").logo__image
        p Интернет-магазин ”Gold Hands” Эзотерические товары со всего света

      .footer__box 
        h5.footer__box-title Категории
        ul.footer__items.footer__nav-items 
          li.footer__item 
            a(href="#").footer__link Благовония
          li.footer__item 
            a(href="#").footer__link Натуральная косметика
          li.footer__item 
            a(href="#").footer__link Таро и руны
          li.footer__item 
            a(href="#").footer__link Книги
          li.footer__item 
            a(href="#").footer__link Здоровое питание
          li.footer__item 
            a(href="#").footer__link Инструменты биолокации
          li.footer__item 
            a(href="#").footer__link Ароматерапия
          li.footer__item 
            a(href="#").footer__link 
              strong Распродажа

      .footer__box 
        h5.footer__box-title Помощь
        ul.footer__items.footer__nav-items
          li.footer__item 
            a(href="#").footer__link Доставка
          li.footer__item 
            a(href="#").footer__link Инструкции
          li.footer__item 
            a(href="#").footer__link Оплата
          li.footer__item 
            a(href="#").footer__link Отзывы
          li.footer__item 
            a(href="#").footer__link Возврат
          li.footer__item 
            a(href="#").footer__link Контакты
          li.footer__item 
            a(href="#").footer__link Гарантии

      .footer__box 
        h5.footer__box-title Контакты
        ul.footer__items 
          li.footer__item 
            a(href="tel:78002365555").footer__link +7 800 236 55 55
          li.footer__item 
            a(href="tel:74952555544").footer__link +7 495 255 55 44
          li.footer__item 
            a(href="mailto:info@goldhands.ru").footer__link info@goldhands.ru

        .socials.footer__socials
          ul.socials__list
            li.socials__item 
              a(href="#").socials__link
                | instagram
                svg.icon
                  use(xlink:href='./img/icons/socials.svg#instagram')
            li.socials__item 
              a(href="#").socials__link
                | youtube
                svg.icon
                  use(xlink:href='./img/icons/socials.svg#youtube')
            li.socials__item 
              a(href="#").socials__link
                | vk
                svg.icon
                  use(xlink:href='./img/icons/socials.svg#vk')
  
          

      .footer__payment 
        img(src="./img/icons/mastercard.svg", alt="mastercard" style='--width:32px;')
        img(src="./img/icons/visa.svg", alt="visa" style='--width:49px;')
        img(src="./img/icons/paypal.svg", alt="paypal" style='--width:67px;')
        img(src="./img/icons/yandex_cash.svg", alt="yandex" style='--width:78px;')
        img(src="./img/icons/sberbank.svg", alt="sberbank" style='--width:80px;')

        
    .footer__bottom

      span.footer__bottom-item.footer__copyright GoldHands © 2021 Все права защищены.

      a(href="#").footer__bottom-item Политика конфиденциальности 