.lk-nav
  a.lk-nav__link(href="lk-zakazy.html" class=lk_page==1?'active':'')
    svg.icon
      use(xlink:href='./img/icons/icons.svg#shopping-bag-open')
    | Мои заказы 
  a.lk-nav__link(href="lk-profile.html" class=lk_page==2?'active':'')
    svg.icon
      use(xlink:href='./img/icons/icons.svg#lock-laminated')
    | Профиль
  a.lk-nav__link(href="lk-favorites.html" class=lk_page==3?'active':'')
    svg.icon
      use(xlink:href='./img/icons/icons.svg#bookmarks-simple')
    | Избранное
