.mailing-banner 
  .container.mailing-banner__container
    img(src="#" data-src='./img/phone.png' alt="image").lazyload.mailing-banner__image
    .mailing-banner__text-content 
      h2.mailing-banner__title Подпишитесь на нашу рассылку и получайте бонусы!
      .mailing-banner__text
        p Для всех подписчиков действуют премиальные скидки и закрытые распродажи!<br> Мы не спамим и отправляем всего по 1 письму в неделю!
      a(href="#").button.button_style-2.mailing-banner__button
        span.button__inner.button__default 
          span Подписаться
