.modal.modal-location#location-modal
  .modal__wrapper(data-scroll-lock-scrollable)
    .modal__inner
      .modal-block.modal-location__block
        button(data-action='modal_close' aria-label='Закрыть модальное окно').close-element.modal-block__close
          svg.icon
            use(xlink:href='./img/icons/icons.svg#close')
        .modal-block__container 
          h2.h1 Выберите город
          form.search.modal-location__search 
            .input.search__input
              svg.icon 
                use(xlink:href='./img/icons/icons.svg#magnifying-glass')
              input(type="text" placeholder="Поиск").modal-location

          ul.modal-location__list
            li.modal-location__item
              a(href="#") Москва
            li.modal-location__item
              a(href="#") Волгоград
            li.modal-location__item
              a(href="#") Санкт-Петербург
            li.modal-location__item
              a(href="#") Волгоград
            li.modal-location__item
              a(href="#") Воронеж
            li.modal-location__item
              a(href="#") Домодедово
            li.modal-location__item
              a(href="#") Волгоград
            li.modal-location__item
              a(href="#") Екатеринбург
            li.modal-location__item
              a(href="#") Иркутск
            li.modal-location__item
              a(href="#") Казань
            li.modal-location__item
              a(href="#") Краснодар
            li.modal-location__item
              a(href="#") Красноярск
            li.modal-location__item
              a(href="#") Люберцы
            li.modal-location__item
              a(href="#") Мытищи
            li.modal-location__item
              a(href="#") Нижний Новгород
            li.modal-location__item
              a(href="#") Новосибирск
            li.modal-location__item
              a(href="#") Одинцово
            li.modal-location__item
              a(href="#") Омск
            li.modal-location__item
              a(href="#") Пермь
            li.modal-location__item
              a(href="#") Пушкино
            li.modal-location__item
              a(href="#") Раменское
            li.modal-location__item
              a(href="#") Ростов-на-Дону
            li.modal-location__item
              a(href="#") Самара
            li.modal-location__item
              a(href="#") Саратов
            li.modal-location__item
              a(href="#") Тверь
            li.modal-location__item
              a(href="#") Тольятти
            li.modal-location__item
              a(href="#") Тула
            li.modal-location__item
              a(href="#") Тюмень
            li.modal-location__item
              a(href="#") Уфа
            li.modal-location__item
              a(href="#") Хабаровск
          
        
